<%-include ('partials/header') -%>

<body>


    <body>
        <section class="section_container container">
            <h1 class="section__crear">CREA TU CUENTA</h1>
            <H3 class="section__texto">Completá el formulario para ser parte del mundo de los Funkos</H3>
            <form class="formulario_container section_container" action="/register" method="POST" enctype="application/x-www-form-urlencoded">
                <section class="section__datos">
                    <div class="datos">
                        <label>Nombre:</label>
                        <input class="line_1" type="text" placeholder="Nombre" name="name">
                    </div>
                    <div class="datos">
                        <label>Apellido:</label>
                        <input class="line_2" type="text" placeholder="Apellido" name="lastname">
                    </div>
                    <div class="datos">
                        <label>Email:</label>
                        <input class="line_3" type="text" placeholder="email@hotmail.com" name="email">
                    </div>
                    <div class="datos">
                        <label>Contraseña:</label>
                        <input class="line_4" type="password" placeholder="*********" name="password">
                    </div>
                    <div class="datos">
                        <label>Repita contraseña:</label>
                        <input class="line_5" type="password" placeholder="*********" name="password2">
                    </div>
                </section>
                <section class="section__registrar">
                    <button class="boton_registro" type="submit" id="">Registrar</button>
                    <input class="marcar_check" type="checkbox" name="recordarme" id="">
                    <lavel class="acepto">Acepto </lavel>
                    <lavel class="condiciones">Términos y condiciones</lavel>

                </section>
            </form>
        </section>
    </body>


<%-include ('partials/footer') -%>

</body>
</html>