@import url(.//funko.css);

#shop {
    margin-top:var(--spacyng-68);
    display: flex;
   }

.shop__filters {
    display: flex;
    flex-direction: column;
    width: 240px;
    gap: var(--spacing-24);
    font-family: var(--base-font);
    font-size: var(--font-large); 
    margin: var(--spacyng-8);
    
}

.shop__filters input, select  {
    font-size: var(--font-small);
    text-align: center;
    font-size: 18px;
    border: 1px solid black; 
    border-radius: 5px;
    padding: var(--spacyng-8);
}

#shop-search {
    display: flex;
    flex-direction: column;
    gap: var(--spacyng-8);
    
}

#shop-search label {
    font-size: 24px;
}

#shop-search input {
    text-align:left;
}

#shop-orderby {
    display: flex;
    flex-direction: column;
    gap: var(--spacyng-8);
}

#shop-orderby label {
    font-size: 24px;
}

#shop-price {
    display: flex;
    padding-top: var(--spacyng-16);
    justify-content: space-between;
    align-items: center;
    gap: var(--spacyng-8);  
    font-size: 18px;
}

#shop-price input {
   max-width: 60px;
}

#shop-filter {
    display: flex;
    flex-direction: column;
    gap: var(--spacyng-16);
}

#shop-filter input {
    width: 24px;
    font-size: 18px;
}

#shop-filter input, label {
    vertical-align: middle;;
    height: 24px;
    font-size: 18px;
}

.shop__items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacyng-16);
}

.shop__item {
    flex: 1 1 clamp(200px, 30%, 30%);
}


/* PAGINATION */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__items {
    display: flex;
    font-family: var(--base-font);
    font-size: var(--font-large);
    margin: var(--spacyng-68) auto;
}

.pagination__item {
    display: inline-block;
    border: 1px solid var(--secondary-300);
    border-radius: 5px;
    padding: var(--spacyng-20);
}

.pagination__item:hover {
    border: 1px solid var(--primary-solid);
}

.pagination__item:nth-child(1) {
    background-color: var(--dark-300);
    border:  var(--dark-300);
    color: var(--light-bg-solid);
    align-content: center;
    
}

.pagination__item:nth-child(7) {
    background-color: var(--dark-300);
    border:  var(--dark-300);
    color: var(--light-bg-solid);
    align-items: center;
}


.pagination__link {
    display: inline-block;
    align-items: center;
    color: var(--dark-solid);
    text-decoration: none;
}

@media screen and (max-width:360px) {
    #shop {
        margin-top:var(--spacyng-68);
        display: flex;
        flex-direction: column;
       }

}