/* LIST  */

.list {
    padding-top:var(--spacyng-36);
    font-family: var(--base-font);
}

.search {
    display: flex;
    font-family: var(--base-font);
    align-items: center;
    margin-top:var(--spacyng-36) ;
}

.search__botton {
    border: none;
    background-color: var(--light-bg-solid);
}

.search__bar {
    font-size: var(--font-medium);
    padding: var(--spacyng-8);
    margin-left:var(--spacyng-8) ;
    width: 530px;
    border-radius: 5px;
}

.list__items {
    display: flex;
    margin: var(--spacyng-36) auto;
    justify-content:space-between;
    background-color: var(--light-bg-solid);
}

.list__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    justify-items: left;
}

.list__botton {
    display: inline-flex;
    align-items: center;
    gap: var(--spacyng-20);
    padding-right:var(--spacyng-20) ;
    border: none;
    background-color: var(--light-bg-solid);
    font-size: var(--font-large);
}

.list__tabla {
    width: 100%;
    gap: var(--spacyng-12);
    font-size: var(--font-large);
    padding-left: var(--spacyng-36);
    padding-bottom: var(--spacyng-36);
    text-align: left;
}



/*   css del profe  */


#admin {
    margin: var(--spacing-68) auto;
}
.admin__search {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    margin-bottom: var(--spacing-36);
}

.admin__icon {
    font-size: var(--font-xlarge);
}

.admin__search-bar {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-8);
    border: 2px solid var(--dark-solid);
    border-radius: 6px;
    outline: none;
    flex: 0 0 35%;
}

.admin__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
}

.admin__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-24);
}

.admin__header h2 {
    font-size: var(--font-jumbo) ;
}

.admin__header span {
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
    font-size: var(--font-small);
    font-weight: 700;
}

.admin__header span a {
    display: flex;
    font-size: var(--font-medium);
}

.admin-table {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.admin-table__header,
.admin-table__row {
    display: grid;
    grid-template-columns: 40px 1fr 3fr 3fr 40px 40px;
    align-items: center;
    gap: var(--spacing-16);
    font-size: var(--font-medium);
    font-weight: 500;
}

.admin-table__header {
    margin-bottom: var(--spacing-24);
}


.admin-table__btn-delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.admin-table__btn-delete iconify-icon {
    font-size: 28px;
}





/*-----------------------------*/



.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}
