
.section_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacyng-36);
    max-width: 1200px;
    
}

.section__crear{
    color: var(--dark-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-xlarge);
    font-weight: 900;
    margin-top: var(--spacyng-36);
    
}

<<<<<<< HEAD
.section__texto{
    color: var(--dark-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-large);  
      
}

.formulario_container{
=======
.section__formulario{
    color: var(--dark-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    
      
}
.section__datos{
>>>>>>> f4cf5afba9ff0f07cc596ae55f7dab04d86fec78
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    font-family: var(--base-font);
    padding: var(--spacyng-28);
    gap: var(--spacyng-36);
<<<<<<< HEAD
     
}

.section__datos{
    display: flex;
    flex-direction: column;
    
}

.datos{
    display: flex;
    justify-content: space-between;
    
}

.datos label {
    color: var(--dark-solid);
    font-family: var(--base-font);
    font-size: var(--font-medium)  
=======
    
}
.datos_form{
    display: flex;
    justify-content: space-between;
}

.datos_form label {
    color: var(--dark-solid);
    font-family: var(--base-font);
    font-size: var(--font-large);
    
}

.datos_registrar{
    display: flex;
    flex-direction: row;
>>>>>>> f4cf5afba9ff0f07cc596ae55f7dab04d86fec78
}

.line_1, .line_2, .line_3, .line_4, .line_5{
    
<<<<<<< HEAD
    width:195px;
=======
    width:208px;
>>>>>>> f4cf5afba9ff0f07cc596ae55f7dab04d86fec78
    height: 2px;
    border: none;
    border-bottom: 2px solid var(--primary-solid);
    font-size: var(--font-medium);
<<<<<<< HEAD
    padding: 10px;
    margin-bottom: var(--spacyng-36); 
    
}
=======
    padding: 12px;
    margin-bottom: var(--spacyng-36); 
   
    
}

>>>>>>> f4cf5afba9ff0f07cc596ae55f7dab04d86fec78
::placeholder{
    color: #B9B9B9;
}

<<<<<<< HEAD
.section__registrar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacyng-36)
}

=======
>>>>>>> f4cf5afba9ff0f07cc596ae55f7dab04d86fec78
.boton_registro{
    width: 102.995px;
    height: 39.062px;
    flex-shrink: 0;
    background: var(--primary-solid);
    color: var(--light-font-solid);
    border: none;
    font-family: var(--base-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
<<<<<<< HEAD
    
    
=======
    gap: var(--spacyng-36);
    margin-right: var(--spacyng-36);
    margin-bottom: var(--spacyng-36);
>>>>>>> f4cf5afba9ff0f07cc596ae55f7dab04d86fec78
    
}

.marcar_check{
    width: 16.275px;
    height: 16.275px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 2px solid var(--dark-solid);
<<<<<<< HEAD
    margin-left: var(--spacyng-36);
    
=======
    margin-bottom: var(--spacyng-36);
>>>>>>> f4cf5afba9ff0f07cc596ae55f7dab04d86fec78
}

.acepto{
    color: var(--dark-solid);
    font-family: var(--base-font);
<<<<<<< HEAD
    font-size: var(--font-xsmall);
=======
    font-size: var(--font-medium);
>>>>>>> f4cf5afba9ff0f07cc596ae55f7dab04d86fec78
    font-weight: 400;
    
    
}
.condiciones{
    color: var(--secondary-solid);
    font-family: var(--base-font);
<<<<<<< HEAD
    font-size: var(--font-xsmall);
=======
    font-size: var(--font-medium);
>>>>>>> f4cf5afba9ff0f07cc596ae55f7dab04d86fec78
    font-weight: 400;
    

}

@media screen and (max-width:480px) {
    
  
}


