<footer class="footer">
    <nav class="navbar container">
        <ul class="navbar__items">
            <li class="navbar_item">
                <a class="navbar__link" href="../../pages/shop/shop.html">SHOP</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="./register.html">REGISTRARSE</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="./login.html">LOGIN</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="">CONTACTO</a>
            </li>
        </ul>  
        <picture>
            <a href="../../index.html">
                <img src="../../img/branding/isotype.svg" alt="Isologotipo de la marca Funkoshop">
            </a>                                
        </picture>
    </nav>
<p class="navbar__copy">All rights reserved 2023 - Funkoshop &copy;</p>
</footer>