<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer>
            <nav>
                <ul>
                    <li>
                        <a href="./views/shop.html">SHOP</a>
                    </li>
                    <li>
                        <a href="./views/register.html">REGISTRARSE</a>
                    </li>
                    <li>
                        <a href="./views/login.html">LOGIN</a>
                    </li>
                    <li>
                        <a href="./views/contact.html">CONTACTO</a>
                    </li>
                </ul>  
                <picture>
                    <a href="./index.html">
                        <img src="../img/branding/isotype.svg" alt="Isologotipo de la marca Funkoshop">
                    </a>                                
                </picture>
            </nav>
        <p>All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
    
</body>
</html>