<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</Header></title>
</head>
<body>
    <header><!-- inicio header-->
        <nav>
            <picture>
                <a href="../index.html">
                    <img src="../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
                </a>
            </picture>
            <ul>
                <li>
                    <a href="../views/shop.html">SHOP <iconify-icon icon="tabler:chevron-down"></iconify-icon></a>
                    <ul>
                        <li>
                            <a href="">Funkos</a>
                        </li>
                        <li>
                            <a href="">Remeras</a>
                        </li>
                        <li>
                            <a href="">Llaveros</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="./views/contact.html">CONTACTO</a>
                </li>
                <li>
                    <a href="./views/login.html">LOGIN</a></li>
                <li>
                    <a  href="./views/cart.html">
                        <img src="../img/icons/cart-icon.svg" alt="icono de carrito"></a>
                </li>
            </ul>  
        </nav>
    </header><!-- fin header-->
    
</body>
</html>