 <%-include ('partials/header') -%>
<body>    

    <main class="container">
        <section class="crud-container">
            <h3 class="crud__title">EDIT ITEM</h3>
            <form class="crud__items" action="./admin/edit/20?_method=PUT" method="POST" enctype="multipart/form-data">
                <label for="">Categoria:
                <select name="" id="" >
                    <option value="" disabled selected hidden>Selecionar</option>
                    <option value="figuras">Figuras</option>
                    <option value="remeras">Remeras</option>
                    <option value="llaveros">Llaveros</option>
                </select></label>
                <label for="">Licencia:
                <select name="" id="" >
                    <option value="" disabled selected hidden>Selecionar</option>
                    <option value="STAR WARS">STAR WARS</option>
                    <option value="POKEMON">POKEMON</option>
                    <option value="HARRY POTTER">HARRY POTTER</option>
                </select></label>
                <label for="">Nombre del producto:         
                <input type="text" placeholder="Kakashi Hatake Shippuden Saga"></label>
                <textarea name="" id="" cols="150" rows="10" placeholder="Descripción del producto"></textarea>
                <div>
                    <label for="">SKU:</label>
                    <input type="text" placeholder="SSK11AB001" size="8px">
                    <label for="">Precio:</label>
                    <input type="text" placeholder="$ 0.000,00" size="8px">
                    <label for="">Stock:</label>
                    <input type="text" placeholder="0" size="3px">
                    <label for="">Descuento:</label>
                    <input type="text" placeholder="0%" size="3px">
                    <label for="">Cuotas:</label>
                    <select name="" id="">
                        <option value="3">3 Cuotas sin interes</option>
                    </select>
                    <div class="crud_image_box">
                        <label for="">Imágenes:</label>
                        <input id="crud__image" type="file" name="image" id="image">
                        <section>
                            <picture>
                                <img src="../../img/pokemon/pidgeotto-1.webp" alt="">
                                <p>Frente</p>
                            </picture>
                            <picture>
                                <img src="../../img/pokemon/pidgeotto-box.webp" alt="">
                                <p>Dorso</p>
                            </picture>    
                        </section>
                        
                     <button type="submit">Modificar Producto</button>
                    </div>
                </div>
            </form>
        </section>
    </main>

    <%-include ('partials/footer') -%>
</body>
</html>