<%-include ('partialsAdmin/register/headerRegister') -%>

<body>

<<<<<<< HEAD

    <body>
        <section class="section_container container">
            <h1 class="section__crear">CREA TU CUENTA</h1>
            <H3 class="section__texto">Completá el formulario para ser parte del mundo de los Funkos</H3>
            <form class="formulario_container section_container">
                <section class="section__datos">
                    <div class="datos">
                        <label>Nombre:</label>
                        <input class="line_1" type="name" placeholder="Nombre">
                    </div>
                    <div class="datos">
                        <label>Apellido:</label>
                        <input class="line_2" type="lastname" placeholder="Apellido">
                    </div>
                    <div class="datos">
                        <label>Email:</label>
                        <input class="line_3" type="email" placeholder="email@hotmail.com">
                    </div>
                    <div class="datos">
                        <label>Contraseña:</label>
                        <input class="line_4" type="password" placeholder="*********">
                    </div>
                    <div class="datos">
                        <label>Repita contraseña:</label>
                        <input class="line_5" type="password" placeholder="*********">
                    </div>
                </section>
                <section class="section__registrar">
                    <button class="boton_registro" type="submit" id="">Registrar</button>
                    <input class="marcar_check" type="checkbox" name="recordarme" id="">
                    <lavel class="acepto">Acepto </lavel>
                    <lavel class="condiciones">Términos y condiciones</lavel>

                </section>
            </form>
        </section>
    </body>
=======
    <section class="section_container container">
        <h1 class="section__crear">CREA TU CUENTA</h1>
        <H3 class="section__formulario">Completá el formulario para ser parte del mundo de los Funkos</H3>

        <class="section__datos">
            <form class="datos_form">
                <label>Nombre:</label>
                <input  class="line_1" type="name" placeholder="Nombre">
            </form>
            <form class="datos_form">
                <label>Apellido:</label>
                <input class="line_2" type="lastname" placeholder="Apellido" >
            </form>
            <form class="datos_form">
                <label>Email:</label>
                <input class="line_3" type="email" placeholder="email@hotmail.com">
            </form>
            <form class="datos_form">
                <label>Contraseña:</label>
                <input class="line_4" type="password" placeholder="*********" >
            </form>
            <form class="datos_form">
                <label>Repita contraseña:</label>
                <input class="line_5" type="password" placeholder="*********">
            </form>
            <div class="datos__registrar">
                <button type="submit" id="" class="boton_registro">Registrar</button>
                <input type="checkbox" name="recordarme" class="marcar_check" id="">
                <lavel class="acepto">Acepto </lavel>
                <lavel class="condiciones">Términos y condiciones</lavel>
            </div>
    </section>
>>>>>>> f4cf5afba9ff0f07cc596ae55f7dab04d86fec78

<%-include ('partialsAdmin/register/footerRegister') -%>

</body>
</html>