<footer class="footer">
    <nav class="navbar container">
        <ul class="navbar__items">
            <li class="navbar_item">
                <a class="navbar__link" href="./shop.html">SHOP</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="../admin/register.html">REGISTRARSE</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="../admin/login.html">LOGIN</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="">CONTACTO</a>
            </li>
        </ul>  
        <picture>
            <a href="../../index.html">
                <img src="../../img/branding/isotype.svg" alt="Isologotipo de la marca Funkoshop">
            </a>                                
        </picture>
    </nav>
<p class="navbar__copy">All rights reserved 2023 - Funkoshop &copy;</p>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="../../js/carrito.js"></script>
</footer>